#sideNav {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .navbar-nav {
        background: none;
    }
    .navbar-nav .nav-item .nav-link {
        font-weight: 800;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
    .navbar-toggler {
        &:focus {
            outline-color: lighten($primary, 15%);
        }
    }
    .nav-active {
        color: white!important;
    }
    .nav-space {
        color: rgba(255,255,255,0.5);
        cursor: default!important;
    }
    .languageSelector {
        p {
            cursor: pointer;
            &.nav-active {
                cursor: default;
            }
        }
    }
    .poweredBy {
        display: none!important;
    }
    .navbar-collapse {
        display: block;
        overflow: hidden;
        max-height:0;
        transition: all 0.4s;
        &.smoothShow {
            max-height: 100vh;
        }
    }
}

@include media-breakpoint-up(lg) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: $sidebar-base-width;
        height: 100vh;
        background-image: url('#{$assetPath}/bg/bg.webp');
        .navbar-brand {
            display: flex;
            margin: auto auto 0;
            padding: 0.5rem;
            cursor: pointer;
            .img-profile {
                max-width: 10rem;
                max-height: 10rem;
                border: 0.5rem solid $primary;
            }
        }
        .navbar-collapse {
            display: flex;
            align-items: flex-start;
            flex-grow: 0;
            width: 100%;
            margin-bottom: auto;
            max-height: unset;
            > div {
                width: 100%;
            }
            .navbar-nav {
                flex-direction: column;
                background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); 
                width: 100%;
                .nav-item {
                    display: block;
                    .nav-link {
                        display: block;
                    }
                }
            }
        }
        .poweredBy {
            display: flex!important;
        }
        .App-logo {
            height: 2em;
            animation: App-logo-spin infinite 20s linear;
        }
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}