$assetPath : '../../assets/img/';

// Import variables
@import "./variables";

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap";

// Global CSS
@import "./global.scss";

// Components
@import "./components/spinner";
@import "./components/sidenav";
@import "./components/icons";
@import "./components/about";
@import "./components/portofolio";

// Sections
@import "./sections/resume-section";
