// Import variables
@import "./variables";

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Global CSS
@import "./global.scss";

// Components
@import "./components/sidenav";
@import "./components/icons";
@import "./components/portofolio";

// Sections
@import "./sections/resume-section";
